.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.grid-3{
    grid-template-columns: repeat(3,1fr);
}
.border{
    border: 2px solid greenyellow;
}
.btn{
 display: inline-block;
    padding: 6px 20px;
    background-color: var(--danger-color);
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
}
.btn-outline{
    border: 2px solid var(--danger-color);
    background-color: transparent;
    color: var(--danger-color);
    font-weight: bold;
}
.btn-shadow{
    background-color: #fff;
    color: #333;
    padding: 9px 20px;
    box-shadow: 1px 1px 6px rgb(0 0 0 / 80%);
}
.card{
  
   background-color: #fff;
    color: #333;
    padding:  20px;
    margin: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
}
/* backgrounds and colored buttons */
.bg-danger,.btn-danger{
    background-color: var(--danger-color);
    color: #fff;
    font-weight: bold;
}
.bg-primary-dark,.btn-primary-dark{
    background-color: var(--primary-dark-color);
    color: #fff;
    font-weight: bold;
}
.btn-primary-dark:hover{
    color: white;
    background-color: var(--primary-light-color);
}
/* Text Sizes */
.lead{
    font-size: 20px;
}
.sm{
    font-size: 1rem;
}
.md{
    font-size: 2rem;
}
.lg{
    font-size: 3rem;
}
.xl{
    font-size: 4rem;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
 }
.bold{
    font-weight: bold;
}
.bolder{
    font-weight: bolder;
}
/* text - color */
.text-danger{
    color: var(--danger-color);
}
.text-primary{
    color: var(--primary-color);
}


hr.dotted{
    border-top: 1px dotted #000;
}

/* Margin */
.my-1{
    margin: 1rem  0;
}
.my-2{
    margin: 1.5rem  0;
}
.my-3{
    margin: 2rem  0;
}
.my-4{
    margin: 3rem  0;
}
.my-5{
    margin: 5rem  0;
}
.mx-1{
    margin: 0 1rem;
}
.mx-2{
    margin:0 1.5rem  ;
}
.mx-3{
    margin:0 2rem  ;
}
.mx-4{
    margin:0 3rem  ;
}
.mx-5{
    margin:0 4rem  ;
}
.m-1{
    margin: 1rem  ;
}
.m-2{
    margin: 1.5rem;
}
.m-3{
    margin: 2rem  ;
}
.m-4{
    margin: 3rem;
}
.m-5{
    margin: 4rem  ;
}
/* padding */
.py-1{
    padding: .5rem  0;
}
.py-2{
    padding: 1.5rem  0;
}
.py-3{
    padding: 2rem  0;
}
.py-4{
    padding: 3rem  0;
}
.py-5{
    padding: 4rem  0;
}
.px-1{
    padding: 0 1rem  ;
}
.px-2{
    padding: 0 1.5rem  ;
}
.px-3{
    padding: 0 2rem  ;
}
.px-4{
    padding: 0 3rem  ;
}
.px-5{
    padding: 0 4rem  ;
}
.p-1{
    padding: 1rem  ;
}
.p-2{
    padding: 1.5rem;
}
.p-3{
    padding: 2rem  ;
}
.p-4{
    padding: 3rem;
}
.p-5{
    padding: 4rem  ;
}

/* horizontal gradient */
.horizontal-gradient {
    background: linear-gradient(to right, grey, white);
  }
/* image */
.lg-img{
    max-width: 200px!important;
}
